@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Frontend + backend</h1>
    <p>Create a simple website with blog functionality.</p>
    <p>Functional requirements:</p>
    <ol>
        <li>Simple admin panel with CRUD operations: create/edit/delete blog posts. Post: title, content, image.</li>
        <li>Ability to create blog posts in markdown format.</li>
        <li>Website: list of blog posts with ability to comment them (email, name, comment text).</li>
        <li>Use ReCaptcha while adding comments.</li>
        <li>Authentication</li>
    </ol>
    <p>Technical requirements:</p>
    <ol>
        <li>ASP.NET Core.</li>
        <li>Entity Framework.</li>
        <li>Bootstrap.</li>
        <li>Responsive design.</li>
        <li>You can use any other tools, libraries that are listed above.</li>
        <li>Please add comments to your code in English.</li>
        <li>Feel free to show your skills - IoC, stylecop, and other best practices of coding.</li>
        <li>Front-end: multipage (server pages) or SPA</li>
    </ol>
</div>
